Repository Eppie-io/Eppie-App, pull requests merged in 2025-07, with the labels that each got.

#767 chore: add Resources folder
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/be/App.Resources.resw
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/en/App.Resources.resw
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/ja/App.Resources.resw
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/nl/App.Resources.resw
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/pl/App.Resources.resw
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/ru/App.Resources.resw
  src/Eppie.App/Eppie.App.UWP.NET/Resources/Strings/zh-Hans/App.Resources.resw
Labels: platform/uwp, type/chore

#774 fix: Update AccentTextStyle in ConvertersDictionary.xaml
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Converters/ConvertersDictionary.xaml
Labels: platform/all, type/fix

#778 build: bump Uno SDK to 6.1.23
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/global.json
  src/Eppie.App/global.json
Labels: type/build, platform/uno

#779 ci: fix publish macOS desktop
  .github/configurations/publish-desktop-app.json
Labels: platform/desktop, type/ci

#783 ci: fix osx-x64 app bundle
  .github/configurations/publish-desktop-app.json
  .github/workflows/publish-desktop-app.yml
Labels: platform/desktop, type/ci
