Repository Eppie-io/Eppie-App, pull requests merged in 2025-01, with the labels that each got.

#483 build(deps): update uno sdk 5.5.56
  src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.Uno/global.json
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/global.json
  src/Eppie.App/global.json
Labels: type/build, platform/uno

#489 build: update to net9.0
  .github/actions/install-prerequisites/action.yml
  .github/configurations/build.json
  .github/configurations/workload.json
  .github/workflows/format.yml
  src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.Uno/Eppie.App.Resources.Uno.csproj
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/Eppie.App.UI.Uno.csproj
  src/Eppie.App/Eppie.App/Eppie.App.csproj
  src/Eppie.App/Eppie.App/Properties/launchSettings.json
  src/Eppie.App/global.json
Labels: type/build, type/ci, platform/uno

#497 fix: open identity manager pane if accounts list is empty
  src/Eppie.App/Eppie.App.Shared/Views/MainPage.xaml.cs
  src/Eppie.App/Eppie.App.ViewModels/MainPageViewModel.cs
Labels: platform/all, type/fix

#503 docs: update the github issue templates
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/20_feature_request.yml
  .github/ISSUE_TEMPLATE/30_general_task.yml
Labels: type/documentation, ignore-for-release, platform/irrelevant

#504 docs: correct task template
  .github/ISSUE_TEMPLATE/30_general_task.yml
Labels: type/documentation, ignore-for-release, platform/irrelevant

#512 build: update uno to 5.6.20
  src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.Uno/global.json
  src/Eppie.App/Eppie.App.Shared/App.Uno.xaml.cs
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/global.json
  src/Eppie.App/global.json
Labels: type/build, platform/uno

#511 feat: add tokenizing control to uno
  .github/configurations/build.json
  src/Eppie.App/.run/Eppie.App.run.xml
  src/Eppie.App/Directory.Packages.props
  src/Eppie.App/Eppie.App.Resources/Eppie.App.Resources.Uno/Eppie.App.Resources.Uno.csproj
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Controls/EmailsInputControl.xaml
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Controls/EmailsInputControl.xaml.cs
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Eppie.App.UI.Shared.projitems
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/Eppie.App.UI.UWP.csproj
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/Controls/EmailsInputControl.xaml
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/Eppie.App.UI.Uno.csproj
  src/Eppie.App/Eppie.App/Eppie.App.csproj
Labels: type/feature, platform/uno

#515 feat: add WebView2 to uno
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Controls/MessageControl.xaml.cs
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Eppie.App.UI.Shared.projitems
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Shared/Extensions/WebViewExtension.cs
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/Controls/MessageControl.xaml
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/Controls/MessageControl.xaml.cs
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.UWP/Eppie.App.UI.UWP.csproj
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/Controls/MessageControl.xaml
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/Controls/MessageControl.xaml.cs
  src/Eppie.App/Eppie.App/Eppie.App.csproj
Labels: platform/all, type/feature
