Repository Eppie-io/Eppie-App, pull requests merged in 2025-05, with the labels that each got.

#669 build: update Uno.Sdk version
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/global.json
  src/Eppie.App/global.json
Labels: type/build, platform/uno

#670 build: bump TokenizingTextBox nuget
  .github/configurations/build.json
  src/Eppie.App/.run/Eppie.App.run.xml
  src/Eppie.App/Directory.Packages.props
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/Eppie.App.UI.Uno.csproj
  src/Eppie.App/Eppie.App/Eppie.App.csproj
Labels: platform/all, type/build

#674 build: bump nugets
  src/Eppie.App/Directory.Packages.props
  src/Tests/Eppie.App.ViewModels.Tests/ContactComparerTests.cs
  src/Tests/Eppie.App.ViewModels.Tests/Eppie.App.ViewModels.Tests.csproj
Labels: platform/all, type/build

#676 build(deps): Bump to M.E.AI 9.4.3-preview.1.25230.7
  src/Eppie.App/Directory.Packages.props
Labels: dependencies, platform/all, type/build

#681 ci: add codeowners
  .github/CODEOWNERS
Labels: platform/all, area/github

#682 build: bump Uno.Sdk to 6.0.67
  src/Eppie.App/Eppie.App.UI/Eppie.App.UI.Uno/global.json
  src/Eppie.App/Eppie.App/Platforms/Desktop/Program.cs
  src/Eppie.App/global.json
Labels: type/build, platform/uno

#683 ci: update dependabot.yml
  .github/dependabot.yml
Labels: platform/all, type/ci, area/github

#685 build(deps): Bump to M.E.AI 9.5.0-preview.1.25262.9
  src/Eppie.App/Directory.Packages.props
Labels: platform/all, type/build

#688 feat: add app review request functionality
  src/Eppie.App/Eppie.App.Resources.Shared/Strings/en/Resources.resw
  src/Eppie.App/Eppie.App.Shared/Services/LocalSettingsService.cs
  src/Eppie.App/Eppie.App.Shared/Services/MessageService.cs
  src/Eppie.App/Eppie.App.Shared/Views/BasePage.cs
  src/Eppie.App/Eppie.App.UWP/Eppie.App.UWP.csproj
  src/Eppie.App/Eppie.App.UWP/Services/AppStoreService.cs
  src/Eppie.App/Eppie.App.ViewModels/BaseViewModel.cs
  src/Eppie.App/Eppie.App.ViewModels/MainPageViewModel.cs
  src/Eppie.App/Eppie.App.ViewModels/Services/ILocalSettingsService.cs
  src/Eppie.App/Eppie.App.ViewModels/Services/IPurchaseService.cs
  src/Eppie.App/Eppie.App.ViewModels/Services/ITuviMailMessageService.cs
  src/Eppie.App/Eppie.App/Services/AppStoreService.cs
Labels: platform/all, type/feature

#697 feat: configure Eppie Host
  src/Eppie.App/Eppie.App.Shared/App.Uno.xaml.cs
  src/Eppie.App/Eppie.App.Shared/App.xaml.cs
  src/Eppie.App/Eppie.App.Shared/Eppie.App.Shared.projitems
  src/Eppie.App/Eppie.App.Shared/Helpers/EppieHost.UWP.cs
  src/Eppie.App/Eppie.App.Shared/Helpers/EppieHost.Uno.cs
  src/Eppie.App/Eppie.App.Shared/Helpers/EppieHost.cs
Labels: platform/all, type/feature, ignore-for-release

#698 feat: configure logging
  src/Eppie.App/Directory.Packages.props
  src/Eppie.App/Eppie.App.Shared/App.xaml.cs
  src/Eppie.App/Eppie.App.Shared/Eppie.App.Shared.projitems
  src/Eppie.App/Eppie.App.Shared/Logging/LogConfiguration.cs
  src/Eppie.App/Eppie.App.Shared/Services/ErrorHandler.cs
  src/Eppie.App/Eppie.App.UWP/Eppie.App.UWP.csproj
  src/Eppie.App/Eppie.App/Eppie.App.csproj
Labels: platform/all, type/feature

#700 feat: add Platform property to log
  src/Eppie.App/Eppie.App.Shared/Eppie.App.Shared.projitems
  src/Eppie.App/Eppie.App.Shared/Helpers/PlatformTools.cs
  src/Eppie.App/Eppie.App.Shared/Logging/LogConfiguration.cs
Labels: platform/all, type/feature, ignore-for-release
